
*{
    padding: 0px;
    margin: 0px;
}

#header{
    border-bottom: 2px solid #ccc;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #fff;
    z-index: 1;
    justify-content: space-between;
    padding-right: 160px; /* Platz für die Sidebar hinzufügen */
}

#logoHeader{
    width: 15%;
    height: auto;
    margin: 1%;
    float: left;
    margin-left: 5%;
}
  
ul {
    display: flex;
    justify-content: space-between;
    width: 25%;
    margin-left: 20%;
}
  
li {
    list-style: none;
}
  
.menupoints  {
    display: block;
    text-align: center;
    padding: 10px 20px;
    background-color: transparent; /* Hinzufügen von transparentem Hintergrund */
    text-decoration: none;
    color: #000;
    transition: all 1.3s ease;
    
}

.menupoints:hover {
    color: #4682B4;
    font-size: 50px; /* Skalieren Sie die Schaltfläche aus der Mitte heraus */
}

#leftheaderbar{
    display: flex;
    margin-left: 50%;
}

#flag{
    width: 35%;
    height: 3%;
}

#login{
    margin-left: 30%;
    width: 48%;
    height: auto;
}

/*------------------ SIDEBAR ----------------*/
.button-img {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
  }
  
  .button-img img {
    display: block;
    width: 100%;
    height: auto;
  }